*{
  background:#DFF0F2;
  background-attachment: fixed;
}
body{
  font-family: 'Oxygen', sans-serif;
}
header{
  font-family: 'Amatic SC', cursive;
  color:#0E4A21;
  text-align: center;
  font-size: 40px;
}
.containerImg{
  display: flex;
  flex-flow: column nowrap;
  Justify-content: center;
  align-items: center;

}

.image{
  display: flex;
  margin: top 200px;
  width: 25em;
  Justify-content: center;
align-items: center;

}

.image{
    justify-content: center;
    align-items: flex-start;
    width: 25em;
}
.session{
  display:flex;
  /* justify-content:space-around; */
  align-items: center;

}
.buttonSession{
  border: none;
  background-color: #3E8C5A;
  color:white;
  font-size: .7em;
  letter-spacing: 2px;
  font-family: 'Oxygen', sans-serif;
  display: flex;
  flex-flow: row wrap;
  justify-content:center;
  align-items: center;
  /* position: absolute; */
  width: 140px;
  height: 50px;
  /* left: 40px;
  top: 526px; */
  border-radius: 25px;

}

